:root{
    --white: #FFFFFF;
    --lavender: #C1B2FF;
    --dark-green: #144127;
    --acid-green: #CFFF0F;

    --space-05: 0.5em;
    --space-1: 1em;
    --space-2: 2em;
    --space-3: 3em;
    --space-4: 4em;
}

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.align-end{
    align-items: end;
}
.align-center{
    align-items: center;
}

.smaller-gap{
    gap: var(--space-05);
}
.small-gap{
    gap: var(--space-1);
}

.full-width{
    max-width:100%;
}

/* effect found on this forum: https://stackoverflow.com/questions/12690444/css-border-on-png-image-with-transparent-parts*/
.sticker-effect{
   -webkit-filter: drop-shadow(4px 4px 0 white)
                    drop-shadow(-4px 4px 0 white)
                    drop-shadow(4px -4px 0 white)
                    drop-shadow(-4px -4px 0 white);

    filter: drop-shadow(4px 4px 0 white)
            drop-shadow(-4px 4px 0 white)
            drop-shadow(4px -4px 0 white)
            drop-shadow(-4px -4px 0 white);
}

/* all styles */

h1{
    font-family: "Fredoka One";
    font-size: 3em;
    font-weight: 700;

    paint-order: stroke fill;
    -webkit-text-stroke: .2em white;

    padding: 1em;
}
h3{
    font-weight: 400;
}

body{
    background-color: var(--lavender);
    color: var(--dark-green);
    font-family: "Inter";


}

#awake-content{
    padding: 1em;
}
#awake-header{
    background-image: url("../images/shape.svg");
    background-size: cover;
    background-repeat: no-repeat;

    img{
        width: 35%;
        padding-top: 2em;
    }
}
#cards-container{
    padding: 1em 0em;
}
.card{    
    width: 25vw;
    border: solid 2px var(--white);
    border-radius: 4px;

    p{
        background-color: var(--acid-green);
        padding: .5em;
        border-top: solid 2px var(--dark-green);
    }

    img{
        max-width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        object-fit: cover;
    }
}

